# Try to maintain ssh sessions on OS X
ServerAliveInterval 300

Compression yes

#
# Cornerhost
#
Host va
  HostName vanadium.sabren.com

Host gitlab.office.moo.com
  User git
  IdentityFile ~/.ssh/moo_id_rsa

#
# Github
#
Host github.com
    User git
    Hostname github.com
    IdentityFile ~/.ssh/id_rsa

#
# BitBucket
#
Host bb
  HostName bitbucket.org
  User hg

#
# Fallback
#
Host *
  User jabley
